/* mystyle.css */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Righteous|Titillium+Web|Ubuntu');




h1{
	font-size: 40px;
	font-family: 'Ubuntu', sans-serif;
	font-family: 'Righteous', cursive;
	text-align: center;	color: #ff9999;
			/*top R B L*/
	margin: 5px 5px 5px 5px;
}

h2{
	font-size: 18px;
	font-family: 'Playfair Display', serif;
	text-align: center;
	color: #ff3346;
	margin-bottom: 10px;
}
h3{
	font-size: 20px;
	font-family: 'Titillium Web', sans-serif;
		
}
p{
	font-size: 18px;
}
.summary{
	text-align: center;
	background-color: #c6ddf2;
	border-radius: 20px;
}
.summary {
	clear: both; 
	padding : 100px 40px 100px 40px; 
	width: 400px; 
	float: left;
	}
.sidebar .wrapper {
	font: italic 1.1em/2.2 georgia; 
	text-align: center;
	}
.preamble,.participation,.requirements{
	margin: 10px 0px 10px 500px;
	background-color: #cc99ff;
	border-radius: 20px;
}

.explanation,.benefits{
	margin: 10px 0px 10px 500px;
		background-color:   #ffffe0;
		border-radius: 20px;
}
]
footer{
	font-size: 20px;
	background-color: blue;
	border-radius: 100px;
}

a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	background-color: white;
	}
a:visited { 
	font-weight: bold; 
	text-decoration:blink; 
	color: #D4CDDC;
	background-color: white;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	background-color: white;
	}

[role=banner] {			
	background-color: 	#ccc7d1;
}
body{
	background-color: 	#66cdaa;
}